body{
    background-color: rgb(248, 247, 244) ;
}
.Nav{
    margin-top:1.3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
}
.font{
    font-family: "Gabarito";
    font-size: 14pt;
    letter-spacing: 0.3px;
}
button{
    background-color: rgb(186, 166, 221);
    border-radius: 5rem;

}

